header {
  background-color: teal;
  border-color: #cccccc;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Menu {
  float: right;
}

h2 {
  background-color: white;
  color: teal;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: gray;
  background-color: white;
  border: #cccccc;
  text-align: left;
}